@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-7aYN5KBVpkSw_font-family: "Inter", sans-serif;
  --mixin-7aYN5KBVpkSw_font-size: 14px;
  --mixin-7aYN5KBVpkSw_font-weight: 400;
  --mixin-7aYN5KBVpkSw_font-style: normal;
  --mixin-7aYN5KBVpkSw_color: #535353;
  --mixin-7aYN5KBVpkSw_text-align: left;
  --mixin-7aYN5KBVpkSw_text-transform: none;
  --mixin-7aYN5KBVpkSw_line-height: 1.5;
  --mixin-7aYN5KBVpkSw_letter-spacing: normal;
  --mixin-7aYN5KBVpkSw_white-space: pre-wrap;
  --mixin-7aYN5KBVpkSw_user-select: text;
  --mixin-7aYN5KBVpkSw_text-decoration-line: none;
  --mixin-7aYN5KBVpkSw_text-overflow: clip;
  --mixin-HZbZfEORdF3S_color: #000000;
  --mixin-HZbZfEORdF3S_font-weight: 600;
  --mixin-HZbZfEORdF3S_font-size: 40px;
  --mixin-HZbZfEORdF3S_line-height: 1;
  --mixin-HZbZfEORdF3S_letter-spacing: -1px;
  --mixin-HZbZfEORdF3S_white-space: pre-wrap;
  --mixin-rKiD_Ir1hFAp_color: #000000;
  --mixin-rKiD_Ir1hFAp_font-size: 30px;
  --mixin-rKiD_Ir1hFAp_font-weight: 600;
  --mixin-rKiD_Ir1hFAp_line-height: 1.1;
  --mixin-rKiD_Ir1hFAp_white-space: pre-wrap;
  --mixin-byERw62z0YG-_color: #0070f3;
  --mixin-byERw62z0YG-_white-space: pre-wrap;
  --mixin-LiRkcD5woq2i_color: #000000;
  --mixin-LiRkcD5woq2i_font-size: 24px;
  --mixin-LiRkcD5woq2i_font-weight: 600;
  --mixin-LiRkcD5woq2i_line-height: 1.2;
  --mixin-LiRkcD5woq2i_white-space: pre-wrap;
  --mixin-FkUmrdemqINl_color: #000000;
  --mixin-FkUmrdemqINl_font-size: 20px;
  --mixin-FkUmrdemqINl_font-weight: 600;
  --mixin-FkUmrdemqINl_line-height: 1.3;
  --mixin-FkUmrdemqINl_white-space: pre-wrap;
  --mixin-qG2vPBBrxhrS_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-qG2vPBBrxhrS_border-bottom-color: #dddddd;
  --mixin-qG2vPBBrxhrS_border-bottom-style: solid;
  --mixin-qG2vPBBrxhrS_border-bottom-width: 1px;
  --mixin-qG2vPBBrxhrS_border-left-color: #dddddd;
  --mixin-qG2vPBBrxhrS_border-left-style: solid;
  --mixin-qG2vPBBrxhrS_border-left-width: 1px;
  --mixin-qG2vPBBrxhrS_border-right-color: #dddddd;
  --mixin-qG2vPBBrxhrS_border-right-style: solid;
  --mixin-qG2vPBBrxhrS_border-right-width: 1px;
  --mixin-qG2vPBBrxhrS_border-top-color: #dddddd;
  --mixin-qG2vPBBrxhrS_border-top-style: solid;
  --mixin-qG2vPBBrxhrS_border-top-width: 1px;
  --mixin-qG2vPBBrxhrS_border-bottom-left-radius: 3px;
  --mixin-qG2vPBBrxhrS_border-bottom-right-radius: 3px;
  --mixin-qG2vPBBrxhrS_border-top-left-radius: 3px;
  --mixin-qG2vPBBrxhrS_border-top-right-radius: 3px;
  --mixin-qG2vPBBrxhrS_font-family: "Inconsolata";
  --mixin-qG2vPBBrxhrS_padding-bottom: 1px;
  --mixin-qG2vPBBrxhrS_padding-left: 4px;
  --mixin-qG2vPBBrxhrS_padding-right: 4px;
  --mixin-qG2vPBBrxhrS_padding-top: 1px;
  --mixin-qG2vPBBrxhrS_white-space: pre-wrap;
  --mixin-VySVI_iQUkLK_border-left-color: #dddddd;
  --mixin-VySVI_iQUkLK_border-left-style: solid;
  --mixin-VySVI_iQUkLK_border-left-width: 3px;
  --mixin-VySVI_iQUkLK_color: #888888;
  --mixin-VySVI_iQUkLK_padding-left: 10px;
  --mixin-VySVI_iQUkLK_white-space: pre-wrap;
  --mixin-zjJBkwEhRJoM_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-zjJBkwEhRJoM_border-bottom-color: #dddddd;
  --mixin-zjJBkwEhRJoM_border-bottom-style: solid;
  --mixin-zjJBkwEhRJoM_border-bottom-width: 1px;
  --mixin-zjJBkwEhRJoM_border-left-color: #dddddd;
  --mixin-zjJBkwEhRJoM_border-left-style: solid;
  --mixin-zjJBkwEhRJoM_border-left-width: 1px;
  --mixin-zjJBkwEhRJoM_border-right-color: #dddddd;
  --mixin-zjJBkwEhRJoM_border-right-style: solid;
  --mixin-zjJBkwEhRJoM_border-right-width: 1px;
  --mixin-zjJBkwEhRJoM_border-top-color: #dddddd;
  --mixin-zjJBkwEhRJoM_border-top-style: solid;
  --mixin-zjJBkwEhRJoM_border-top-width: 1px;
  --mixin-zjJBkwEhRJoM_border-bottom-left-radius: 3px;
  --mixin-zjJBkwEhRJoM_border-bottom-right-radius: 3px;
  --mixin-zjJBkwEhRJoM_border-top-left-radius: 3px;
  --mixin-zjJBkwEhRJoM_border-top-right-radius: 3px;
  --mixin-zjJBkwEhRJoM_font-family: "Inconsolata";
  --mixin-zjJBkwEhRJoM_padding-bottom: 3px;
  --mixin-zjJBkwEhRJoM_padding-left: 6px;
  --mixin-zjJBkwEhRJoM_padding-right: 6px;
  --mixin-zjJBkwEhRJoM_padding-top: 3px;
  --mixin-zjJBkwEhRJoM_white-space: pre-wrap;
  --mixin-KF0tBmKGfNz7_display: flex;
  --mixin-KF0tBmKGfNz7_flex-direction: column;
  --mixin-KF0tBmKGfNz7_align-items: stretch;
  --mixin-KF0tBmKGfNz7_justify-content: flex-start;
  --mixin-KF0tBmKGfNz7_list-style-position: outside;
  --mixin-KF0tBmKGfNz7_padding-left: 40px;
  --mixin-KF0tBmKGfNz7_position: relative;
  --mixin-KF0tBmKGfNz7_list-style-type: disc;
  --mixin-KF0tBmKGfNz7_white-space: pre-wrap;
  --mixin-GC-7rAtD5cfi_display: flex;
  --mixin-GC-7rAtD5cfi_flex-direction: column;
  --mixin-GC-7rAtD5cfi_align-items: stretch;
  --mixin-GC-7rAtD5cfi_justify-content: flex-start;
  --mixin-GC-7rAtD5cfi_list-style-position: outside;
  --mixin-GC-7rAtD5cfi_padding-left: 40px;
  --mixin-GC-7rAtD5cfi_position: relative;
  --mixin-GC-7rAtD5cfi_list-style-type: decimal;
  --mixin-GC-7rAtD5cfi_white-space: pre-wrap;
  --mixin-r-JmxxGaBtnw_color: #000000;
  --mixin-r-JmxxGaBtnw_font-size: 16px;
  --mixin-r-JmxxGaBtnw_font-weight: 600;
  --mixin-r-JmxxGaBtnw_line-height: 1.5;
  --mixin-r-JmxxGaBtnw_white-space: pre-wrap;
  --mixin-F8iAe8Pnw88X_color: #000000;
  --mixin-F8iAe8Pnw88X_font-size: 14px;
  --mixin-F8iAe8Pnw88X_font-weight: 600;
  --mixin-F8iAe8Pnw88X_line-height: 1.5;
  --mixin-F8iAe8Pnw88X_white-space: pre-wrap;
  --mixin-U4Pw1rBaL3l4_color: #3291ff;
  --mixin-U4Pw1rBaL3l4_white-space: pre-wrap;
  --mixin-cXdI2MMZNfrL_white-space: pre-wrap;
  --mixin-owJF8XxLLhd-_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-7aYN5KBVpkSw_font-family);
  font-size: var(--mixin-7aYN5KBVpkSw_font-size);
  font-weight: var(--mixin-7aYN5KBVpkSw_font-weight);
  font-style: var(--mixin-7aYN5KBVpkSw_font-style);
  color: var(--mixin-7aYN5KBVpkSw_color);
  text-align: var(--mixin-7aYN5KBVpkSw_text-align);
  text-transform: var(--mixin-7aYN5KBVpkSw_text-transform);
  line-height: var(--mixin-7aYN5KBVpkSw_line-height);
  letter-spacing: var(--mixin-7aYN5KBVpkSw_letter-spacing);
  white-space: var(--mixin-7aYN5KBVpkSw_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-HZbZfEORdF3S_color);
  font-weight: var(--mixin-HZbZfEORdF3S_font-weight);
  font-size: var(--mixin-HZbZfEORdF3S_font-size);
  line-height: var(--mixin-HZbZfEORdF3S_line-height);
  letter-spacing: var(--mixin-HZbZfEORdF3S_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-rKiD_Ir1hFAp_color);
  font-size: var(--mixin-rKiD_Ir1hFAp_font-size);
  font-weight: var(--mixin-rKiD_Ir1hFAp_font-weight);
  line-height: var(--mixin-rKiD_Ir1hFAp_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-byERw62z0YG-_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-LiRkcD5woq2i_color);
  font-size: var(--mixin-LiRkcD5woq2i_font-size);
  font-weight: var(--mixin-LiRkcD5woq2i_font-weight);
  line-height: var(--mixin-LiRkcD5woq2i_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-FkUmrdemqINl_color);
  font-size: var(--mixin-FkUmrdemqINl_font-size);
  font-weight: var(--mixin-FkUmrdemqINl_font-weight);
  line-height: var(--mixin-FkUmrdemqINl_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-qG2vPBBrxhrS_font-family);
  border-radius: var(--mixin-qG2vPBBrxhrS_border-top-left-radius)
    var(--mixin-qG2vPBBrxhrS_border-top-right-radius)
    var(--mixin-qG2vPBBrxhrS_border-bottom-right-radius)
    var(--mixin-qG2vPBBrxhrS_border-bottom-left-radius);
  padding: var(--mixin-qG2vPBBrxhrS_padding-top)
    var(--mixin-qG2vPBBrxhrS_padding-right)
    var(--mixin-qG2vPBBrxhrS_padding-bottom)
    var(--mixin-qG2vPBBrxhrS_padding-left);
  border-top: var(--mixin-qG2vPBBrxhrS_border-top-width)
    var(--mixin-qG2vPBBrxhrS_border-top-style)
    var(--mixin-qG2vPBBrxhrS_border-top-color);
  border-right: var(--mixin-qG2vPBBrxhrS_border-right-width)
    var(--mixin-qG2vPBBrxhrS_border-right-style)
    var(--mixin-qG2vPBBrxhrS_border-right-color);
  border-bottom: var(--mixin-qG2vPBBrxhrS_border-bottom-width)
    var(--mixin-qG2vPBBrxhrS_border-bottom-style)
    var(--mixin-qG2vPBBrxhrS_border-bottom-color);
  border-left: var(--mixin-qG2vPBBrxhrS_border-left-width)
    var(--mixin-qG2vPBBrxhrS_border-left-style)
    var(--mixin-qG2vPBBrxhrS_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-VySVI_iQUkLK_color);
  padding-left: var(--mixin-VySVI_iQUkLK_padding-left);
  border-left: var(--mixin-VySVI_iQUkLK_border-left-width)
    var(--mixin-VySVI_iQUkLK_border-left-style)
    var(--mixin-VySVI_iQUkLK_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-zjJBkwEhRJoM_font-family);
  border-radius: var(--mixin-zjJBkwEhRJoM_border-top-left-radius)
    var(--mixin-zjJBkwEhRJoM_border-top-right-radius)
    var(--mixin-zjJBkwEhRJoM_border-bottom-right-radius)
    var(--mixin-zjJBkwEhRJoM_border-bottom-left-radius);
  padding: var(--mixin-zjJBkwEhRJoM_padding-top)
    var(--mixin-zjJBkwEhRJoM_padding-right)
    var(--mixin-zjJBkwEhRJoM_padding-bottom)
    var(--mixin-zjJBkwEhRJoM_padding-left);
  border-top: var(--mixin-zjJBkwEhRJoM_border-top-width)
    var(--mixin-zjJBkwEhRJoM_border-top-style)
    var(--mixin-zjJBkwEhRJoM_border-top-color);
  border-right: var(--mixin-zjJBkwEhRJoM_border-right-width)
    var(--mixin-zjJBkwEhRJoM_border-right-style)
    var(--mixin-zjJBkwEhRJoM_border-right-color);
  border-bottom: var(--mixin-zjJBkwEhRJoM_border-bottom-width)
    var(--mixin-zjJBkwEhRJoM_border-bottom-style)
    var(--mixin-zjJBkwEhRJoM_border-bottom-color);
  border-left: var(--mixin-zjJBkwEhRJoM_border-left-width)
    var(--mixin-zjJBkwEhRJoM_border-left-style)
    var(--mixin-zjJBkwEhRJoM_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-KF0tBmKGfNz7_display);
  flex-direction: var(--mixin-KF0tBmKGfNz7_flex-direction);
  align-items: var(--mixin-KF0tBmKGfNz7_align-items);
  justify-content: var(--mixin-KF0tBmKGfNz7_justify-content);
  list-style-position: var(--mixin-KF0tBmKGfNz7_list-style-position);
  padding-left: var(--mixin-KF0tBmKGfNz7_padding-left);
  position: var(--mixin-KF0tBmKGfNz7_position);
  list-style-type: var(--mixin-KF0tBmKGfNz7_list-style-type);
  column-gap: var(--mixin-KF0tBmKGfNz7_column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-GC-7rAtD5cfi_display);
  flex-direction: var(--mixin-GC-7rAtD5cfi_flex-direction);
  align-items: var(--mixin-GC-7rAtD5cfi_align-items);
  justify-content: var(--mixin-GC-7rAtD5cfi_justify-content);
  list-style-position: var(--mixin-GC-7rAtD5cfi_list-style-position);
  padding-left: var(--mixin-GC-7rAtD5cfi_padding-left);
  position: var(--mixin-GC-7rAtD5cfi_position);
  list-style-type: var(--mixin-GC-7rAtD5cfi_list-style-type);
  column-gap: var(--mixin-GC-7rAtD5cfi_column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-r-JmxxGaBtnw_color);
  font-size: var(--mixin-r-JmxxGaBtnw_font-size);
  font-weight: var(--mixin-r-JmxxGaBtnw_font-weight);
  line-height: var(--mixin-r-JmxxGaBtnw_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-F8iAe8Pnw88X_color);
  font-size: var(--mixin-F8iAe8Pnw88X_font-size);
  font-weight: var(--mixin-F8iAe8Pnw88X_font-weight);
  line-height: var(--mixin-F8iAe8Pnw88X_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-U4Pw1rBaL3l4_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
